@charset "utf-8";
div.mce-fullscreen { z-index: 1050; }
.dropify-infos .dropify-infos-inner .dropify-filename { display: none; } 
.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message::before { display: none; }
.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message{ opacity:1; padding:0; margin:0;}

/*No results */
.no_results h2{text-align:center; margin-top:50px; margin-bottom:50px; box-shadow: 0 0 30px rgba(0, 0, 0, 0.08) inset; font-size: 115%; text-align: center; text-shadow: 0 1px 0 #FFFFFF; padding: 60px 20px;}

.lobibox.lobibox-confirm .lobibox-header{background-color: #286090;}
.lobibox.lobibox-confirm .lobibox-footer{background-color: #286090;} 

.loader{position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url('../images/loading.gif') 50% 50% no-repeat rgb(249,249,249);opacity: .8; display:none;}
